.login-container {
  height: 100vh;
  background-color: #dfdfdf;
  background-image: radial-gradient(#3d405b 0.5px, #dfdfdf 0.5px);
  background-size: cover;
  background-size: 10px 10px;
}

.login-form {
  max-width: 360px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 400px;
}

.login-form label,
.login-form span,
.login-form input,
.login-form h2 {
  color: var(--medium-grey);
}

.login-form label {
  display: block;
  margin: 30px auto;
}

.login-form span {
  display: block;
  margin-bottom: 6px;
}

.login-form .important {
  margin-bottom: 0;
}

.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  width: 100%;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form.dark label,
.login-form.dark span,
.login-form.dark h2 {
  color: var(--light-grey);
}


@media only screen and (max-height: 1100px) {
  .login-form {
    padding-bottom: 150px;
  }
}

/* --MOBILE STYLING-- */
@media only screen and (max-width: 480px) {
  .login-form {
    padding-top: 50px;
    padding-bottom: 180px;
  }
  /* .login-container {
    height: 0;
  } */
}
@media only screen and (max-width: 375px) {
  .login-form {
    padding-top: 50px;
    padding-bottom: 180px;
  }
  .login-container {
    height: 0;
  }
}