.film {
  max-width: 1000px;
  margin: 60px auto;
  text-align: center;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  transition: all 1.5s ease;
}

.film h2 {
  color: var(--medium-grey);
  font-weight: 700;
}

.film p {
  color: var(--light-grey);
  font-size: 0.9em;
  font-weight: 500;
}


.film p:last-child {
  color: var(--medium-grey);
}

.film img {
  margin: 20px 0;
  max-width: 30%;
  transition: all 1s ease;
}

.film img:hover {
  transform: scale(1.7);
}

/* dark mode */
.film.dark {
  background-color: var(--medium-grey);
}

.film.dark h2,
.film.dark p {
  color: #fff;
}

.film a {
  display: block;
  width: 150px;
  font-size: 1em;
  color: #fff;
  padding:  10px;
  border: none;
  border-radius: 5px;
  background-color: var(--navbar-bg-color);
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}

.film a:hover {
  opacity: 0.8;
}