.navbar {
  background-color: var(--navbar-bg-color);
  padding: 20px;
  color: #fff;
}

.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 200px;
}

.navbar img:hover {
  opacity: 0.7;
}

.navbar a.brand {
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}

.add-film {
  margin-right: 50px;
  width:30px;
}

.add-film:hover {
  color: #333;
}

.logout-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-container p {
  font-size: 16px;
  text-transform: uppercase;
}

.logout {
  width:30px;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

