.navbar {
  background-color: var(--navbar-bg-color);
  padding: 20px;
  color: #fff;
}

.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 200px;
}

.navbar img:hover {
  opacity: 0.9;
}

.navbar a.brand {
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}

.add-film {
  color: #fff;
  text-decoration: none;
  margin-right: 50px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.add-film:hover {
  background-color: #fff;
  color: #333;
}

.logout-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-container p {
  font-size: 16px;
}

.logout {
  width:30px;
  cursor: pointer;
}

