.create {
  color: var(--medium-grey);
  max-width: 480px;
  margin: 60px auto;
}

.create label span {
  display: block;
  margin: 30px 0 10px;
}

.create p {
  margin-top: 10px;
  font-size: 0.8em;
}

.create button {
  display: block;
  width: 100px;
  font-size: 1em;
  color: #fff;
  padding:  10px;
  border: none;
  border-radius: 5px;
  background-color: var(--navbar-bg-color);
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}

.create button:hover {
  opacity: 0.8;
}

.create.dark h2,
.create.dark span {
  color: #fff;
}