.film-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
}

.card img {
  max-width: 80%;
  align-items: center;
}

.film-list .card {
  background-color: #fff;
  color: var(--dark-grey);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 1.5s ease;
  position: relative;
  text-align: center;
}

.film-list .card:hover {
  transform: scale(1.05);
}

.film-list .card h3 {
  color: var(--medium-grey);
  margin-bottom: 6px;
}

.film-list .card p {
  color: var(--light-grey);
  font-size: 0.9em;
}

.film-list .card div {
  color: var(--medium-grey);
  font-size: 0.7em;
  margin: 20px 0;
  line-height: 1.5em;
}

.film-list .card a {
  color: #fff;
  text-decoration: none;
  background: var(--secondary-bg-color);
  font-size: 0.9em;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.film-list .card a:hover {
  opacity: 0.8;
}

.delete-icon {
  position: absolute;
  width: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  filter: invert(50%);
}

/* dark mode */

.film-list .card.dark {
  background-color: var(--medium-grey);
}

.film-list .card.dark p,
.film-list .card.dark h3,
.film-list .card.dark div {
  color: var(--secondary-bg-color)
}

.card.dark .delete-icon {
  filter: invert(90%);
}


.add-alert-container, .delete-alert-container, .update-alert-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-alert {
  background-color: var(--navbar-bg-color);
}

.add-alert, .update-alert {
  background-color: var(--navbar-bg-color);
}

.delete-alert, .add-alert, .update-alert{
  visibility: hidden;
  color: #e4e4e4;
  padding: 20px 40px;
}

.delete-alert.show, .add-alert.show, .update-alert.show{
  visibility: visible;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
}
