
.film-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
}

.card img {
  max-width: 80%;
  align-items: center;
}

.film-list .card {
  background-color: #fff;
  color: var(--dark-grey);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
  text-align: center;
}

.film-list .card:hover {
  transform: rotate(3deg);
}

.film-list .card h3 {
  color: var(--medium-grey);
  margin-bottom: 6px;
}

.film-list .card p {
  color: var(--light-grey);
  font-size: 0.9em;
}

.film-list .card div {
  color: var(--medium-grey);
  font-size: 0.7em;
  margin: 20px 0;
  line-height: 1.5em;
}

.film-list .card a {
  color: var(--medium-grey);
  text-decoration: none;
  background: var(--secondary-bg-color);
  font-size: 0.9em;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

