.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 10px;
  color: var(--medium-grey);
}

.footer-container p {
  font-size: 0.5em;
  font-weight: 500;
}

.footer-line {
  background-color: var(--medium-grey);
  height: 1.5px;
  width: 200px;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-container img {
  width: 30px;
  filter: invert(45%);
  cursor: pointer;
}

.link-container img:hover {
  opacity: 0.7;
}

/* --MOBILE STYLING-- */
@media only screen and (max-width: 480px) {
  .link-container img {
    width: 30px;
  }
  .footer-container p {
    font-size: 0.5em;
  }

  .footer-line {
    width: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .footer-container {
    display: none;
  }
}
