.signup-form {
  max-width: 360px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 300px;
}

.signup-form label,
.signup-form span,
.signup-form input,
.signup-form h2 {
  color: var(--medium-grey);
}

.signup-form label {
  display: block;
  margin: 30px auto;
}

.signup-form span {
  display: block;
  margin-bottom: 6px;
}

.signup-form .important {
  margin-bottom: 0;
}

.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  width: 100%;
}

.disabled,
.disabled:hover {
  opacity: 0.5;
}

/* dark mode */
.signup-form.dark label,
.signup-form.dark span,
.signup-form.dark h2 {
  color: var(--light-grey);
}

.arrow-icon {
  cursor: pointer;
  width: 30px;
  filter: invert(45%);
  transition: 1s ease;
}

.arrow-icon:hover {
  transform: scale(1.2);
}

@media only screen and (max-height: 1100px) {
  .signup-form {
    padding-bottom: 150px;
  }
}

/* --MOBILE STYLING-- */
@media only screen and (max-width: 480px) {
  .signup-form {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
