@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600&display=swap');

/* --------COLOR STYLE GUIDE-------- */
:root {
  --main-bg-color: #dfdfdf;
  --secondary-bg-color: #e2e2e2;
  --dark-grey: #333;
  --medium-grey: #555;
  --light-grey: #999;
  --navbar-bg-color: #3d405b;
}


/* GLOBAL STYLES */

html, body, #root {
  height: 100%;
}

body {
  font-family: Archivo, sans-serif;
  margin: 0;
  font-size: 1.4em;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

h1,h2,h3,p {
  margin: 0;
}

input, textarea {
  color: var(--main-text-color);
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none !important;
  border: 1px solid black;
  box-shadow: 0 0 10px #cbcbcb;
}

.page-title {
  text-align: center;
  margin: 10px auto;
  color: var(--dark-grey);
  font-weight: 300;
}

.loading, .error {
  text-align: center;
  margin: 60px auto;
}

.loader-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title.dark, 
.loading.dark, 
.error.dark {
  color: #e4e4e4;
}

.btn {
  border: none;
  background: var(--navbar-bg-color);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.btn:hover {
  opacity: 0.7;
}
